canvas {
    display: block;
    margin: auto;
    border: 3px solid #CCCC00;
    height:545px;
    width:380px;
    background-color: white;
}

#playbutton {
    width: 250px;
    height: 45px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

body {
    color:black;
    background-color:white;
    background:url(images/greenleaves-tetris.jpeg);
    margin: auto;
    background-size: cover;
    
}